<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_D基本元素.Properties.Settings.projectFSConnectionString"
            connectionString="Data Source=IUSI-FA4029579C;Initial Catalog=projectFS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_D基本元素.Properties.Settings.ConnectionString" connectionString="Dsn=Projecct"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>